.list-group {
  max-height: 90vh;
  overflow-y: scroll;
}

.list-group-item-action {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.list-group-item-action img {
  width: 3rem;
}
